{% extends 'theme.html' %}

{% load fmenu_tags %}

{% block title %}Цены говорят{% endblock %}

{% block usermenu %}
<ul>
{% if request.user.is_authenticated %}
<li><b>{{ request.user }}</b></li>
{% if request.user.is_staff %}<li><a href="{% url admin:index %}">Админка</a></li>{% endif %}
<li><a href="{% url auth_logout %}">Выход</a></li>
{% else %}
<li><a href="{% url auth_login %}">Вход</a></li>
<li><a href="{% url registration_register %}">Регистрация</a></li>
{% endif %}
</ul>
{% endblock %}

{% block sitetitle %}<a href="{% url home %}">Цены говорят</a>{% endblock %}
{% block siteslogan %}Динамика и рост цен в прямом эфире{% endblock %}

{% block navigation %}
<ul>
{% show_menu 'mainmenu' %}
</ul>
{% endblock %}

{% block breadcrumbs %}<a href="{% url home %}">Главная</a>{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}<i>(c) SkyFalk Studio, 2012</i>{% endblock %}
